{% set image = resize_image(path=story.extra.page_image, width=1280, op="fit_width")%}
<div class="swiper-slide swiper-lazy with-gradient" data-background="{{ image.url }}">
  <div class="swiper-lazy-preloader"></div>
  <div class="center text-center forward">
    <div class="caption post-tags">
      {% if story.taxonomies.tags %}
      {% for tag in story.taxonomies.tags %}
        <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
        {% if not loop.last %}
          &middot;
        {% endif %}
      {% endfor %}
      
      {% endif %}
      
    </div>
    <h2 class="heading">{{ story.title }}</h2>
    <a class="subheading slider-action" href="{{ story.permalink }}">View</a>
  </div>
</div>