{% extends "index.html" %}

{% block content %}
  <section class="switcher">
    <div class="masonry-column">
      {{ im::image(path="stories/ollie-cooper/images/L1001832.jpg") }}
      {{ im::image(path="portfolio/people/images/SPS-025-012 018.jpg") }}
    </div>
    <div class="masonry-column">
      {{ im::image(path="stories/will-hp/images/BB6A6733.jpg") }}
    </div>
    <div class="masonry-column">
      {{ im::image(path="portfolio/people/images/BB6A6767.jpg") }}
    </div>
  </section>
{% endblock %}