{% extends "index.html" %}

{% block header %}

  <header class="minimal-header">
      <a class="back" href="{{ get_url(path="stories",
      trailing_slash=true) | safe }}">
          <svg class="arrow" viewBox="0 0 17 27" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.54 2.426l-13.143 11.5 13.143 11.5" stroke-width="3" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          More stories
      </a>
  </header>

{% endblock %}

{% block content %}

  <article class="stack kg-canvas">
    
    <header class="post-header">
      <h1 class="heading post-title">{{ page.title }}</h1>
      <div class="caption post-tags">
        {% if page.taxonomies.tags %}
        {% for tag in page.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">{{ tag }}</a>
          {% if not loop.last %}
            &middot;
          {% endif %}
        {% endfor %}
        
        {% endif %}
      </div>
    </header>
    
    <div class="post-excerpt">
      {{ page.description }}
    </div>
    
    {{ page.content | safe }}

  </article>

{% endblock %}